# **Padding**

In [2]:
text = "Hello"

#padding with spaces in left
padded_left = text.ljust(10)
print(f"'{padded_left}'")

#padding with a custom character in left
padded_left_custom = text.ljust(10, '-')
print(f"'{padded_left_custom}'")

# padding with spaces in right
padded_right = text.rjust(10)
print(f"'{padded_right}'")

#padding with a custom character in right
padded_right_custom = text.rjust(10, '-')
print(f"'{padded_right_custom}'")

#padding with spaces center
padded_center = text.center(10)
print(f"'{padded_center}'")

#padding with a custom character center
padded_center_custom = text.center(10, '-')
print(f"'{padded_center_custom}'")

# Pad with zeros left
number = "42"
padded_zeros = number.zfill(5)
print(padded_zeros)

'Hello     '
'Hello-----'
'     Hello'
'-----Hello'
'  Hello   '
'--Hello---'
00042

# **String Splitting**

In [3]:
# Basic splitting with space as the delimiter
text = "Hello world, welcome to Python"
words = text.split()
print(words)
# Splitting with a specific delimiter
text = "apple,banana,cherry,date"
fruits = text.split(',')
print(fruits)

# Splitting with a specific delimiter and a maximum number of splits
text = "apple,banana,cherry,date"
fruits = text.split(',', 2)
print(fruits)
# Splitting with a delimiter that includes multiple characters
text = "one--two--three--four"
numbers = text.split('--')
print(numbers)

['Hello', 'world,', 'welcome', 'to', 'Python']
['apple', 'banana', 'cherry', 'date']
['apple', 'banana', 'cherry,date']
['one', 'two', 'three', 'four']

# **f string for string formatting**

---

In [6]:
name = "Alice"
age = 30
height = 5.678
person = {"city": "Wonderland", "occupation": "Explorer"}
def greet(name):
    return f"Hello, {name}!"

# Combine all elements in an f-string
formatted_string = (
# Calling a function
    f"{greet(name)}\n"

# Embedding a variable
    f"Name: {name}\n"

# Embedding an expression
    f"Age in 5 years: {age + 5}\n"

# Formatting a number
    f"Height: {height:.2f} feet\n"

# Using dictionary items
    f"City: {person['city']}\n"
    f"Occupation: {person['occupation']}"
)

print(formatted_string)

Hello, Alice!
Name: Alice
Age in 5 years: 35
Height: 5.68 feet
City: Wonderland
Occupation: Explorer

# **Elliminating unneccesarry charecters of string**

In [31]:

text = "  you $ me "
cleaned_text = text.strip()
cleaned_text = cleaned_text.replace('$', '')
print(f"'{cleaned_text}'")

'you  me'

# **concatenate  string**

In [8]:
a = "Hello"
b = "world!"

concatenated_string = a + " " + b
print(concatenated_string)

Hello world!

# **Regular expression for complex string handling**

In [10]:
import re
string = "That was a good day."
pattern = r"day"
match = re.search(pattern, string)
if match:
    print("Match found!")
else:
    print("Match not found.")

Match found!

# **Removing a string**

In [16]:

original_string = "Hello how are you apsara."
string_to_remove = "apsara"
new_string = original_string.replace(string_to_remove, "")
print(new_string)

Hello how are you .

# **Reversing a string**

In [18]:
original_string = "Hello World"
reversed_string = original_string[::-1]
print(reversed_string)

dlroW olleH